<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Chào mừng, {{ current_user.username }}</h2>
    <h3>Danh sách các môn học của bạn:</h3>
    <ul>
        {% for course in courses %}
            <li>
                <a href="{{ url_for('mark_attendance', course_id=course.id) }}">{{ course.name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
